## Variables

**Naming comvention** : Set of rules of defining a variable
- No need of explicit delcaration
- Variable name starts with alphabet or underscore
- Variable name contains alphanumeric + underscore
- Variables are case sensitive

In [16]:
# Not a variable name
# 2num, @num, df2.5, student-id

# Special variables with double underscores in prefix and suffix
# __varname__

**Number Systems**

In [ ]:
# Leading zeros in decimal integer literals are not permitted;
# 04, 068

In [18]:
num11 = 0b1000
num12 = 0o2343
num13 = 0X1A
num11, num12, num13

(8, 1251, 26)

In [19]:
bin(9),oct(9),hex(9)

('0b1001', '0o11', '0x9')

**Memory management**

In [21]:
num14 = 89
num15 = 88
num14 = 99

## Heap memory

## size reduces   > store at same place, release the memory
## size increases > store at new place

In [24]:
num16 = 98  + 1

## will have same memory location as num14

In [25]:
id(num14), id(num16)

(95252019175400, 95252019175400)

## Data Type

> It represents which type of value is stored in a variable

No need for explicit declaration. Implicit declaration

- None
- Numeric
- Sequence
- Map
- Set

In [1]:
num1 = 88.6   # float
num2 = 88     # int

### None
> A variable which has no value

In [2]:
num = None

In [3]:
type(num)

NoneType

### Numeric
> A variable which have numerical value, on which arithmatic operations can be performed
- `int` - that cannot be written in the form of p/q E.g.: 24, -67
- `float` - that can be written in the form of p/q E.g.: 24.66, -768.95
- `complex`- combination of real and imaginary numbers:  a + bj

In [11]:
num3, num4, num5 = 28, -85.6, 7+3.4j
type(num3), type(num4), type(num5)

(int, float, complex)

In [6]:
comp1, comp2 = complex(5, 6), complex(4, 8)
comp1 + comp2

(9+14j)

**Type Casting**
> Technique to convert data types of a variable with set of rules
- int <> float
- int / float > complex

In [8]:
num6 = 99
num7 = float(num6)
num8 = 67.99
num9 = int(num8)
num10 = complex(num6)
num7, num9, num10, type(num7), type(num9), type(num10)

(99.0, 67, (99+0j), float, int, complex)

### Sequence
**String**

> String is a sequence data type in which we can store combination of characters and any type of value within "" or ' '
- allows indexing
- allows slicing
- is immutable

In [2]:
str1 = 'Dagger Knight 99'
type(str1)

str

In [ ]:
str1[0], str1[-1], str1[-4], str1[0:13:2]

('D', '9', 't', 'Dge ngt', '99 thgi', 'ght 99')

In [21]:
str1[-1:-8:-1], str1[-6:], str1[-6::-1], str1[-11:-6:], str1[::-1]

('99 thgi', 'ght 99', 'ginK reggaD', 'r Kni', '99 thginK reggaD')

In [ ]:
# not immutable
# str1[0] = 'T'

str1 = str1.replace('g', 'G')
str1

'DaGGer KniGht 99'

**String Operations**

In [ ]:
str2 = str1.replace("DaGGer", "Panther")
str3 = str1.split('G')
str4 = "g".join(str3)

str2, str3, str4

('Panther KniGht 99', ['Da', '', 'er Kni', 'ht 99'], 'Dagger Knight 99')

In [17]:
str5 = "     Dagger   Knight  99      "
str5.lstrip(), str5.rstrip(), str5.strip(), len(str5), str5.count("g")

## Remove all Extra spaces
## How many number of extra spaces

('Dagger   Knight  99      ',
 '     Dagger   Knight  99',
 'Dagger   Knight  99',
 30,
 3)

**Bytes**
> It is a sequence data type in which we can store only `int` with fix range 0 to 255
- allows indexing
- allows slicing
- is immutable

In [2]:
seq1 = bytes(12)
seq1

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

- used for encoding / decoding
- saving passwords
- Graph data structure

In [18]:
seq2 = bytes([3, 6, 2, 5, 7, 2, 1, 0, 2, 4])
seq2

b'\x03\x06\x02\x05\x07\x02\x01\x00\x02\x04'

In [19]:
seq2[2], seq2[-3], seq2[::-1], list(seq2[::-1])

(2,
 0,
 b'\x04\x02\x00\x01\x02\x07\x05\x02\x06\x03',
 [4, 2, 0, 1, 2, 7, 5, 2, 6, 3])

In [20]:
len(seq2), seq2.count(2), seq2.index(2)

(10, 3, 2)

**Bytes Array**
> Silimar to bytes data type, difference only being that it is mutable
- allows indexing, slicing, mutable

In [21]:
seq3 = bytearray([3, 6, 4, 6, 2, 4, 1, 0, 2, 4])
seq3

bytearray(b'\x03\x06\x04\x06\x02\x04\x01\x00\x02\x04')

In [22]:
seq3[2], seq3[-3], seq3[::-1], list(seq3[::-1])

(4,
 0,
 bytearray(b'\x04\x02\x00\x01\x04\x02\x06\x04\x06\x03'),
 [4, 2, 0, 1, 4, 2, 6, 4, 6, 3])

In [24]:
seq3[2] = 8
list(seq3)

[3, 6, 8, 6, 2, 4, 1, 0, 2, 4]

**Lists**
> Sequence data type in which we can store any value
- allows indexing, slicing, mutable

In [22]:
seq4 = []
type(seq4)

list

In [23]:
seq4 = [32, 67.9, "Dagger", "Knight 99", 5 + 6j]
seq4[0], seq4[-1], seq4[::-1]

(32, (5+6j), [(5+6j), 'Knight 99', 'Dagger', 67.9, 32])

In [24]:
seq4[2] = "Panther"
seq4

[32, 67.9, 'Panther', 'Knight 99', (5+6j)]

In [25]:
seq4.append(4), seq4.insert(1,8), seq4.append([10, 20]), seq4.extend([100, 200])
seq4

[32, 8, 67.9, 'Panther', 'Knight 99', (5+6j), 4, [10, 20], 100, 200]

In [26]:
seq4.pop(), seq4.pop(2), seq4.remove(4) # seq.clear()
seq4

[32, 8, 'Panther', 'Knight 99', (5+6j), [10, 20], 100]

In [27]:
len(seq4), seq4.count(8), seq4.index(8)

(7, 1, 1)

In [28]:
seq5 = [23, 53, 32, 78, 32, 12, 11]
seq5.sort()
seq5, seq5[::-1]

([11, 12, 23, 32, 32, 53, 78], [78, 53, 32, 32, 23, 12, 11])

In [29]:
min(seq5), max(seq5), sum(seq5)

(11, 78, 241)

In [30]:
seq4.extend(seq5)
seq4, seq5 + seq5, 2 * seq5
# 20 + seq5 not supported

([32,
  8,
  'Panther',
  'Knight 99',
  (5+6j),
  [10, 20],
  100,
  11,
  12,
  23,
  32,
  32,
  53,
  78],
 [11, 12, 23, 32, 32, 53, 78, 11, 12, 23, 32, 32, 53, 78],
 [11, 12, 23, 32, 32, 53, 78, 11, 12, 23, 32, 32, 53, 78])

In [31]:
seq6 = seq5     # copying at the same address
seq7 = seq5[:]  # cloning the same data
seq6, seq7

([11, 12, 23, 32, 32, 53, 78], [11, 12, 23, 32, 32, 53, 78])

In [33]:
seq5.append(99)
seq6, seq7, id(seq5), id(seq6), id(seq7)

([11, 12, 23, 32, 32, 53, 78, 99, 99],
 [11, 12, 23, 32, 32, 53, 78],
 130472159618560,
 130472159618560,
 130472160092032)

**Tuple**
> Immutable sequence data type
- indexing, slicing, **NOT** mutable

In [36]:
seq8, seq9, seq10 = (), (9), (9,)
type(seq8), type(seq9), type(seq10)

(tuple, int, tuple)

In [39]:
seq11 =(32, 67.9, "Dagger", "Knight 99", [3, 6, 8],  5 + 6j)
seq11[0], seq11[-1], seq11[::-1]

(32, (5+6j), ((5+6j), [3, 6, 8], 'Knight 99', 'Dagger', 67.9, 32))

In [40]:
# not immutable
# str11[0] = 99

len(seq11), seq11.count(32), seq11.index(32)

(6, 1, 0)

In [41]:
seq11[4][1] = "Panther"
seq11

(32, 67.9, 'Dagger', 'Knight 99', [3, 'Panther', 8], (5+6j))

**Range**
> It is a sequence data type in which only `int` values are stored with a fixed defined range
- indexing, slicing, not mutable

In [46]:
seq12 = range(10, 51, 2)          # range(10, 40.5, 1) does not take float
type(seq12), seq12, list(seq12), list(range(6)), list(range(6,0,-1))

(range,
 range(10, 51, 2),
 [10,
  12,
  14,
  16,
  18,
  20,
  22,
  24,
  26,
  28,
  30,
  32,
  34,
  36,
  38,
  40,
  42,
  44,
  46,
  48,
  50],
 [0, 1, 2, 3, 4, 5],
 [6, 5, 4, 3, 2, 1])

In [ ]:
# not immutable
# range[0] = 99

# Applications
# List of odd numbers               range(10,51,2)
# List of even numbers              range(11,51,2)
# Multipliaction Tables             range(10,101,2)

- range > list

In [ ]:
seq13 = list(seq12)
# seq13 = range(seq13)   not convertible