## Variables

**Naming comvention** : Set of rules of defining a variable
- No need of explicit delcaration
- Variable name starts with alphabet or underscore
- Variable name contains alphanumeric + underscore
- Variables are case sensitive

In [16]:
# Not a variable name
# 2num, @num, df2.5, student-id

# Special variables with double underscores in prefix and suffix
# __varname__

## Data Type

> It represents which type of value is stored in a variable

No need for explicit declaration. Implicit declaration

- None
- Numeric
- Sequence
- Map
- Set

In [1]:
num1 = 88.6   # float
num2 = 88     # int

**None**
> A variable which has no value

In [2]:
num = None

In [3]:
type(num)

NoneType

**Numeric**
> A variable which have numerical value, on which arithmatic operations can be performed
- `int` - that cannot be written in the form of p/q E.g.: 24, -67
- `float` - that can be written in the form of p/q E.g.: 24.66, -768.95
- `complex`- combination of real and imaginary numbers:  a + bj

In [ ]:
num3, num4, num5 = 28, -85.6, 7+3.4j
print(type(num3), type(num4), type(num5))

<class 'int'> <class 'float'> <class 'complex'>

In [6]:
comp1, comp2 = complex(5, 6), complex(4, 8)
comp1 + comp2

(9+14j)

**Type Casting**
> Technique to convert data types of a variable with set of rules
- int <> float
- int / float > complex

In [8]:
num6 = 99
num7 = float(num6)
num8 = 67.99
num9 = int(num8)
num10 = complex(num6)
num7, num9, num10, type(num7), type(num9), type(num10)

(99.0, 67, (99+0j), float, int, complex)

**Number Systems**

In [ ]:
# Leading zeros in decimal integer literals are not permitted;
# 04, 068

In [18]:
num11 = 0b1000
num12 = 0o2343
num13 = 0X1A
num11, num12, num13

(8, 1251, 26)

In [19]:
bin(9),oct(9),hex(9)

('0b1001', '0o11', '0x9')

**Memory management**

In [21]:
num14 = 89
num15 = 88
num14 = 99

## Heap memory

## size reduces   > store at same place, release the memory
## size increases > store at new place

In [24]:
num16 = 98  + 1

## will have same memory location as num14

In [25]:
id(num14), id(num16)

(95252019175400, 95252019175400)